<!doctype html>
<html>
<head>
	<title>Let's play Madlibs!</title>
</head>
<body>
	<form action="/madlibs">
		Person? <input type="text" name="person-name" value="Balloonicorn"><br><br>
		Color? <input type="radio" name="color" value="turquoise">Turquoise
		<input type="radio" name="color" value="blue">Blue<br><br>
		Noun? <select name="noun">
			<option value="car">Cat</option>
			<option value="dog">Dog</option>
			<option value="chinchilla">Chinchilla</option>
			<option value="springer spaniel">Springer spaniel</option>
		</select><br><br>
		Adjective? <input type="text" name="adjective"><br><br>
		<input type="submit" value="Make me a Madlib!">
	</form>
</body>
</html>