<!doctype html>
<html>
<head>
	<link rel="stylesheet"
	href="/static/madlibs.css">
	<title>Let's play Madlibs!</title>
</head>
<body>
	<form action="/madlibs">
		<span class="topic">Person?</span> <input type="text" name="person-name"><br><br>
		<span class="topic">Color?</span> <input type="checkbox" name="color" value="turquoise">Turquoise
		<input type="checkbox" name="color" value="blue">Blue
		<input type="checkbox" name="color" value="pink">Pink
		<input type="checkbox" name="color" value="yellow">Yellow
		<input type="checkbox" name="color" value="purple">Purple
		<input type="checkbox" name="color" value="black">Black
		<br><br>
		<span class="topic">Noun?</span> <select name="noun">
			<option value="Siamese cat">Siamese cat</option>
			<option value="chinchilla">Chinchilla</option>
			<option value="springer spaniel">springer spaniel</option>
			<option value="Arabian horse">Arabian horse</option>
			<option value="sloth">Sloth</option>
		</select><br><br>
		<span class="topic">Adjective?</span> <input type="text" name="adjective"><br><br>
		<input type="submit" value="Make me a Madlib!">
	</form>
</body>
</html>